Repository mne-tools/mne-python, pull requests merged in 2019-07, with the labels that each got.

#6517 Improve camera focus of plot_read_inverse
  examples/inverse/plot_read_inverse.py
Labels: ENH, VIZ

#6520 Add tube() to pyvista 3d backend
  mne/viz/_3d.py
  mne/viz/backends/_pysurfer_mayavi.py
  mne/viz/backends/_pyvista.py
  mne/viz/backends/_utils.py
  mne/viz/backends/base_renderer.py
  mne/viz/backends/tests/test_renderer.py
Labels: ENH, VIZ

#6524 MRG: Add scalarbar() and text3d() to pyvista 3d backend
  mne/viz/_3d.py
  mne/viz/backends/_pysurfer_mayavi.py
  mne/viz/backends/_pyvista.py
  mne/viz/backends/base_renderer.py
  mne/viz/backends/tests/test_renderer.py
Labels: ENH, VIZ

#6515 Add brain functions table for overview
  mne/viz/_brain/_brain.py
Labels: VIZ

#6578 FIX,VIZ: Fix DeprecationWarning in pyvista backend
  mne/viz/backends/_pyvista.py
  mne/viz/backends/tests/_utils.py
Labels: VIZ

#6600 doc magical 85 factor (=radius of head in mm), improve bvef handling
  doc/whats_new.rst
  mne/channels/montage.py
  mne/channels/tests/test_montage.py
  mne/io/brainvision/brainvision.py
  mne/io/brainvision/tests/test_brainvision.py
  mne/transforms.py
Labels: Digitization
