Repository mne-tools/mne-python, pull requests merged in 2019-04, with the labels that each got.

#6149 Use title of slider in HTML report menu
  mne/report.py
  mne/tests/test_report.py
Labels: BUG

#6141 [MRG] RealTime client refactor
  .circleci/config.yml
  README.rst
  doc/python_reference.rst
  doc/whats_new.rst
  environment.yml
  examples/realtime/plot_lslclient_rt.py
  mne/realtime/__init__.py
  mne/realtime/base_client.py
  mne/realtime/fieldtrip_client.py
  mne/realtime/lsl_client.py
  mne/realtime/mock_lsl_stream.py
  mne/realtime/tests/test_lsl_client.py
  requirements.txt
Labels: Core, ENH

#6146 MRG : source reconstruction on EEG using fsaverage brain
  doc/documentation.rst
  doc/manual/datasets_index.rst
  doc/whats_new.rst
  tutorials/plot_eeg_no_mri.py
Labels: Digitization

#5982 DOC: pass in importing data
  doc/manual/io.rst
Labels: DOC

#6153 [MRG] Add vtki 3d backend
  azure-pipelines.yml
  conftest.py
  environment.yml
  mne/viz/_3d.py
  mne/viz/backends/_pysurfer_mayavi.py
  mne/viz/backends/_utils.py
  mne/viz/backends/_vtki.py
  mne/viz/backends/renderer.py
  mne/viz/backends/tests/_utils.py
  mne/viz/backends/tests/test_renderer.py
  mne/viz/tests/test_3d.py
  requirements.txt
Labels: VIZ

#6158 Add example showing all the eeg helmets
  doc/whats_new.rst
  examples/visualization/plot_montage.py
  mne/channels/montage.py
  tutorials/plot_eeg_no_mri.py
Labels: Digitization

#6202 MRG + 1: Lazy figures for plot_compare_evokeds
  mne/viz/evoked.py
Labels: EASY, VIZ

#6189 MRG: Refactor ts plotter
  mne/viz/evoked.py
Labels: EASY, VIZ

#6197 MRG: Beamformer: compute ad-hoc noise cov with right dimensions
  mne/beamformer/_lcmv.py
  mne/beamformer/tests/test_lcmv.py
  mne/utils/check.py
Labels: BUG, Beamformer

#6037 MRG+1: Add iterable support to simulate_raw
  conftest.py
  doc/python_reference.rst
  doc/whats_new.rst
  examples/simulation/plot_simulate_raw_data.py
  mne/datasets/testing/__init__.py
  mne/datasets/testing/_testing.py
  mne/filter.py
  mne/forward/_field_interpolation.py
  mne/forward/forward.py
  mne/io/base.py
  mne/label.py
  mne/simulation/__init__.py
  mne/simulation/evoked.py
  mne/simulation/raw.py
  mne/simulation/tests/test_raw.py
  mne/source_estimate.py
  mne/source_space.py
  mne/tests/test_chpi.py
  mne/utils/docs.py
  tutorials/plot_dics.py
Labels: Simulation

#6198 MRG: Picks argument to epochs.get_data
  examples/preprocessing/plot_eog_artifact_histogram.py
  mne/decoding/ems.py
  mne/epochs.py
  mne/realtime/epochs.py
  mne/tests/test_epochs.py
  mne/time_frequency/psd.py
  mne/viz/epochs.py
  mne/viz/tests/test_epochs.py
  tutorials/plot_sleep.py
Labels: EASY

#6186 MRG: refactor internals for epochs image plot
  mne/viz/epochs.py
Labels: EASY, VIZ

#5464 MRG: Speed up RF fitting with CuPy
  doc/whats_new.rst
  mne/cuda.py
  mne/decoding/receptive_field.py
  mne/decoding/tests/test_receptive_field.py
  mne/decoding/time_delaying_ridge.py
  mne/utils/progressbar.py
Labels: Decoding

#6231 cross_val_multiscore docstring more explicit
  mne/decoding/base.py
Labels: DOC, EASY

#6205 [MRG] Add docstring to vtki backend
  mne/utils/__init__.py
  mne/utils/docs.py
  mne/utils/tests/test_docs.py
  mne/viz/backends/_pysurfer_mayavi.py
  mne/viz/backends/_vtki.py
  mne/viz/backends/base_renderer.py
Labels: DOC, EASY

#6213 MRG+1: Unit-gain LCMV beamformer
  doc/whats_new.rst
  mne/beamformer/_compute_beamformer.py
  mne/beamformer/_dics.py
  mne/beamformer/tests/test_dics.py
  mne/beamformer/tests/test_external.py
  mne/beamformer/tests/test_lcmv.py
  mne/datasets/utils.py
Labels: Beamformer

#6236 MRG+1: Fix weight_norm='nai' on DICS
  mne/beamformer/_compute_beamformer.py
  mne/beamformer/tests/test_dics.py
Labels: BUG, Beamformer

#6211 MRG +1 plot_compare_evokeds topo functionality
  mne/viz/evoked.py
  mne/viz/tests/test_evoked.py
  mne/viz/tests/test_topo.py
  mne/viz/topo.py
  mne/viz/utils.py
  tutorials/plot_visualize_evoked.py
Labels: HARD, VIZ
