Repository mne-tools/mne-python, pull requests merged in 2020-05, with the labels that each got.

#7698 MRG: Improve toolbar icon consistency
  mne/icons/mne.qrc
  mne/icons/movie-black-18dp.svg
  mne/icons/resources.py
Labels: VIZ

#7701 TST: Speedup testing of pyvista backend
  mne/viz/_brain/_brain.py
  mne/viz/_brain/tests/test_brain.py
  mne/viz/backends/_pyvista.py
Labels: VIZ

#7726 MRG: Speedup testing of _Brain
  mne/viz/_brain/tests/test_brain.py
  mne/viz/backends/_pysurfer_mayavi.py
Labels: VIZ

#7702 WIP: Pip uninstall mayavi and pysurfer from CircleCI
  .circleci/config.yml
Labels: VIZ

#7708 BF: Improvements to viz.get_3d_backend()
  mne/viz/backends/renderer.py
  mne/viz/backends/tests/test_renderer.py
Labels: ENH, FIX, VIZ

#7766 MRG, FIX: Update NIH support
  doc/index.rst
Labels: backport-candidate

#7794 [MRG] split_naming='bids' changes from _part-%d to _split-%d
  doc/changes/latest.inc
  mne/io/fiff/tests/test_raw_fiff.py
  mne/io/utils.py
  tutorials/io/plot_20_reading_eeg_data.py
Labels: backport-candidate

#7843 MRG: Add support for foreground in _Brain
  doc/changes/latest.inc
  mne/source_estimate.py
  mne/viz/_3d.py
  mne/viz/_brain/_brain.py
  mne/viz/_brain/_timeviewer.py
  mne/viz/backends/_pysurfer_mayavi.py
  mne/viz/backends/_pyvista.py
  mne/viz/backends/base_renderer.py
Labels: VIZ
