Repository mne-tools/mne-python, pull requests merged in 2020-04, with the labels that each got.

#7545 MRG, FIX: Fix interaction with one time in macOS
  mne/viz/_brain/_timeviewer.py
Labels: backport-candidate

#7546 MRG, ENH: Better progressbar smoothing
  mne/chpi.py
  mne/utils/progressbar.py
Labels: backport-candidate

#7550 MRG, FIX: Fix make_forward_dipole completion
  doc/changes/latest.inc
  mne/forward/_make_forward.py
  mne/forward/tests/test_forward.py
  mne/forward/tests/test_make_forward.py
  mne/source_space.py
Labels: backport-candidate

#7541 MRG, FIX: Fix eLORETA in TF-inverses
  doc/changes/latest.inc
  mne/minimum_norm/__init__.py
  mne/minimum_norm/_eloreta.py
  mne/minimum_norm/inverse.py
  mne/minimum_norm/tests/test_inverse.py
  mne/minimum_norm/tests/test_time_frequency.py
  mne/minimum_norm/time_frequency.py
Labels: backport-candidate

#7551 MRG, FIX: Use tobytes instead of tostring
  mne/conftest.py
  mne/decoding/tests/test_receptive_field.py
  mne/dipole.py
  mne/event.py
  mne/externals/h5io/_h5io.py
  mne/fixes.py
  mne/forward/_lead_dots.py
  mne/io/tag.py
  mne/io/write.py
  mne/source_estimate.py
  mne/surface.py
  mne/utils/numerics.py
Labels: backport-candidate

#7559 MRG, FIX: Fix for PyQt5 5.14.2
  .travis.yml
  azure-pipelines.yml
  requirements.txt
Labels: backport-candidate

#7560 MRG, FIX: Fix read_epochs w/complex data, preload=False
  doc/changes/latest.inc
  mne/epochs.py
  mne/io/tag.py
  mne/tests/test_epochs.py
Labels: backport-candidate

#7567 MRG, FIX: Fix toggle all
  doc/changes/latest.inc
  mne/viz/tests/test_raw.py
  mne/viz/utils.py
Labels: backport-candidate

#7563 MRG: Fix mouse wheel event in _TimeViewer
  mne/viz/_brain/_timeviewer.py
Labels: VIZ

#7573 WIP: Deregister plotter from the figure list in close()
  examples/visualization/plot_publication_figure.py
  mne/viz/backends/_pyvista.py
Labels: VIZ

#7572 MRG: Remove toolbars in PyVista plotter
  mne/viz/backends/_pyvista.py
Labels: VIZ

#7580 Rework _Brain show
  mne/viz/_3d.py
  mne/viz/_brain/_brain.py
  mne/viz/_brain/_timeviewer.py
  mne/viz/backends/_pyvista.py
Labels: VIZ

#7584 MRG, DOC: Simplify Darwin installation
  .travis.yml
  doc/install/mne_python.rst
  environment.yml
Labels: backport-candidate

#7581 MRG, FIX: Datetime call in gdf 2.x age calculation
  doc/changes/latest.inc
  doc/changes/names.inc
  mne/io/edf/edf.py
Labels: backport-candidate

#7574 MRG: Brain save movie
  README.rst
  doc/changes/latest.inc
  environment.yml
  mne/viz/_brain/_brain.py
  mne/viz/_brain/tests/test_brain.py
  mne/viz/backends/renderer.py
  requirements.txt
Labels: VIZ

#7589 WIP: Time viewer tool bar with SVG icons
  MANIFEST.in
  mne.qrc
  mne/images/clear-black-18dp.svg
  mne/images/help-black-18dp.svg
  mne/images/pause-black-18dp.svg
  mne/images/play-black-18dp.svg
  mne/images/restore-black-18dp.svg
  mne/images/scale-black-18dp.svg
  mne/images/screenshot-black-18dp.svg
  mne/images/visibility_off-black-18dp.svg
  mne/images/visibility_on-black-18dp.svg
  mne/viz/_brain/_timeviewer.py
  mne/viz/_brain/resources.py
Labels: VIZ

#7588 MRG: Configure _TimeViewer status bar
  mne/viz/_brain/_timeviewer.py
Labels: VIZ

#7610 MRG: Refactor _TimeViewer shortcuts
  mne/viz/_brain/_timeviewer.py
Labels: VIZ

#7612 MRG: TimeViewer save movie
  doc/changes/latest.inc
  mne.qrc
  mne/images/movie-black-18dp.svg
  mne/viz/_brain/_timeviewer.py
  mne/viz/_brain/resources.py
Labels: VIZ

#7613 WIP: Fix play/pause button in _TimeViewer
  mne/viz/_brain/_timeviewer.py
Labels: FIX, VIZ

#7616 MRG, FIX: Fix mne_setup_forward_model
  azure-pipelines.yml
  doc/changes/latest.inc
  mne/commands/mne_setup_forward_model.py
  mne/commands/mne_setup_source_space.py
  mne/commands/tests/test_commands.py
Labels: backport-candidate

#7626 Make sure leadfield rank reduction happens before filter calculation
  mne/beamformer/_compute_beamformer.py
Labels: BUG, Beamformer

#7607 WIP: Resolve coincident topology in _Brain
  mne/viz/_brain/_brain.py
Labels: VIZ

#7583 MRG, FIX: Fix labeling for broken raw
  doc/changes/latest.inc
  mne/viz/tests/test_raw.py
  mne/viz/utils.py
Labels: backport-candidate

#7623 MRG: Refactor _TimeViewer slider representation
  mne/viz/_brain/_timeviewer.py
Labels: VIZ

#7634 FIX: Circle timeout after plot_visualize_stc
  mne/viz/_brain/_timeviewer.py
Labels: FIX, VIZ

#7642 [FIX][WIP] Fix handling of complex matrices in DICS beamformer
  doc/changes/latest.inc
  mne/beamformer/_compute_beamformer.py
  mne/beamformer/tests/test_dics.py
  mne/utils/__init__.py
  mne/utils/linalg.py
  mne/utils/numerics.py
  mne/utils/tests/test_linalg.py
Labels: BUG, Beamformer, backport-candidate

#7658 FIX: Fix RAS coordinates in watershed bem surfaces
  doc/changes/latest.inc
  mne/bem.py
  mne/commands/tests/test_commands.py
Labels: backport-candidate

#7620 MRG: Plot NIRS data between source and detector
  mne/viz/_3d.py
  mne/viz/backends/_pysurfer_mayavi.py
  mne/viz/tests/test_3d.py
  tutorials/preprocessing/plot_70_fnirs_processing.py
Labels: VIZ

#7619 [WIP] Adding updated montage to allow np.nan based on keyword 'on_missing'
  doc/changes/latest.inc
  mne/channels/montage.py
  mne/channels/tests/test_montage.py
  mne/io/meas_info.py
  mne/utils/docs.py
Labels: backport-candidate

#7665 MRG: Fix cell vertex ids in _TimeViewer
  mne/viz/_brain/_timeviewer.py
Labels: VIZ

#7675 Update _Brain tests for VTK9
  mne/viz/_brain/tests/test_brain.py
Labels: VIZ

#7695 MRG: Refactor _get_ps_kwarg
  mne/viz/_3d.py
  mne/viz/backends/renderer.py
Labels: VIZ

#7659 MRG: _Brain add_annotation
  doc/python_reference.rst
  examples/visualization/plot_parcellation.py
  mne/viz/__init__.py
  mne/viz/_brain/_brain.py
  mne/viz/_brain/tests/test_brain.py
  mne/viz/backends/_pysurfer_mayavi.py
  mne/viz/backends/_pyvista.py
  mne/viz/backends/base_renderer.py
  mne/viz/backends/renderer.py
Labels: VIZ

#7688 WIP: Refactor get_3d_backend primitive
  mne/viz/_3d.py
  mne/viz/_brain/tests/test_brain.py
  mne/viz/backends/renderer.py
  mne/viz/tests/test_3d.py
Labels: VIZ
