Repository mne-tools/mne-python, pull requests merged in 2020-01, with the labels that each got.

#7172 TST: Build the doc on Circle with offscreen=False
  doc/conf.py
Labels: VIZ

#7153 MRG: Use _TimeViewer in plot_source_estimates
  environment.yml
  mne/viz/_3d.py
  mne/viz/_brain/__init__.py
  mne/viz/_brain/_brain.py
  mne/viz/_brain/_timeviewer.py
  mne/viz/_brain/tests/test_brain.py
  mne/viz/backends/_pyvista.py
  requirements.txt
  tutorials/source-modeling/plot_visualize_stc.py
Labels: VIZ

#7186 MRG: Use a text slider widget
  mne/viz/_brain/_timeviewer.py
Labels: VIZ

#7187 MRG: Correct camera view_up when necessary
  mne/viz/backends/_pyvista.py
Labels: VIZ

#7191 MRG: Add support for smoothing_steps=0
  mne/viz/_brain/_timeviewer.py
  mne/viz/_brain/tests/test_brain.py
  mne/viz/_brain/utils.py
Labels: VIZ

#7188 MRG: Bump colorbar control points
  mne/viz/_brain/_brain.py
  mne/viz/_brain/_timeviewer.py
  mne/viz/_brain/colormap.py
  mne/viz/_brain/tests/test_brain.py
Labels: VIZ

#7207 Disable depth peeling by default
  mne/viz/backends/_pyvista.py
Labels: VIZ

#7218 MRG: Add support for auto_scaling in time_viewer
  mne/viz/_3d.py
  mne/viz/_brain/_brain.py
  mne/viz/_brain/_timeviewer.py
  mne/viz/_brain/tests/test_brain.py
Labels: VIZ

#7226 FIX: Fix actor getting fetched from hemi data
  mne/viz/_brain/_brain.py
Labels: FIX, VIZ

#7224 [MRG] FIX: read easycap-M10 montage
  doc/changes/latest.inc
  examples/visualization/plot_montage.py
  mne/channels/_standard_montage_utils.py
  mne/channels/montage.py
Labels: BUG

#7240 Delegate notebook detection to PyVista
  mne/viz/backends/_pyvista.py
Labels: VIZ

#7242 Allow label=filepath in add_label for _Brain
  mne/viz/_brain/_brain.py
  mne/viz/_brain/tests/test_brain.py
Labels: VIZ

#7253 FIX: Add support for hemi=both in _TimeViewer
  mne/viz/_brain/_timeviewer.py
Labels: VIZ

#7256 MRG: Update stc.plot documentation about hemi
  mne/viz/_3d.py
Labels: DOC, VIZ

#7227 MRG: Link brains with _LinkViewer and plot_linked_brains
  doc/changes/latest.inc
  doc/python_reference.rst
  mne/viz/_3d.py
  mne/viz/__init__.py
  mne/viz/_brain/__init__.py
  mne/viz/_brain/_timeviewer.py
  mne/viz/_brain/tests/test_brain.py
  mne/viz/backends/_pyvista.py
  mne/viz/backends/renderer.py
  mne/viz/tests/test_3d.py
Labels: VIZ

#7263 MRG: Update time slider label
  mne/viz/_brain/_brain.py
  mne/viz/_brain/_timeviewer.py
Labels: VIZ
