Repository mne-tools/mne-python, pull requests merged in 2020-07, with the labels that each got.

#7940 MRG: Add time player for the notebook backend
  mne/viz/_brain/_notebook.py
  mne/viz/backends/_notebook.py
Labels: VIZ

#7963 MRG: Add get_picked_points() to _Brain
  mne/viz/_brain/_brain.py
  mne/viz/_brain/tests/test_brain.py
Labels: VIZ

#7964 MRG: Add remove_labels to _Brain
  mne/viz/_brain/_brain.py
  mne/viz/_brain/tests/test_brain.py
  mne/viz/backends/_pysurfer_mayavi.py
  mne/viz/backends/_pyvista.py
  mne/viz/backends/base_renderer.py
  mne/viz/backends/tests/test_renderer.py
Labels: VIZ

#7971 MRG, DOC: update install instructions
  .circleci/config.yml
  .travis.yml
  azure-pipelines.yml
  doc/install/advanced.rst
  doc/install/mne_python.rst
  doc/install/pre_install.rst
  environment.yml
Labels: backport-candidate

#7974 MRG, ENH: BrainVision impedance parsing
  doc/changes/latest.inc
  doc/changes/names.inc
  mne/io/brainvision/brainvision.py
  mne/io/brainvision/tests/data/test_highpass.vhdr
  mne/io/brainvision/tests/data/test_mixed_lowpass.vhdr
  mne/io/brainvision/tests/test_brainvision.py
  mne/utils/numerics.py
  mne/utils/tests/test_numerics.py
  tutorials/io/plot_20_reading_eeg_data.py
Labels: ENH

#8022 FIX: Import FileDialog from PyVista
  mne/viz/_brain/_timeviewer.py
Labels: FIX

#8018 WIP: Improve _Brain memory footprint
  mne/viz/_brain/_brain.py
  mne/viz/_brain/_timeviewer.py
  mne/viz/backends/_pysurfer_mayavi.py
  mne/viz/backends/_pyvista.py
  mne/viz/backends/base_renderer.py
Labels: VIZ

#7962 MRG: Link cameras in _LinkViewer
  mne/viz/_3d.py
  mne/viz/_brain/_timeviewer.py
  mne/viz/_brain/tests/test_brain.py
  mne/viz/backends/_pyvista.py
  mne/viz/tests/test_3d.py
Labels: VIZ

#8049 FIX: smooth_mat logic in _Brain
  mne/viz/_brain/_brain.py
Labels: FIX, VIZ

#8051 FIX: smooth_mat logic in _timeviewer
  mne/viz/_brain/_timeviewer.py
Labels: FIX

#8041 MRG: Multiple fixes in PyVista 3d backend
  .travis.yml
  mne/viz/_3d.py
  mne/viz/_brain/_brain.py
  mne/viz/backends/_pysurfer_mayavi.py
  mne/viz/backends/_pyvista.py
  mne/viz/backends/tests/test_renderer.py
Labels: VIZ
