Repository mne-tools/mne-python, pull requests merged in 2020-03, with the labels that each got.

#7381 Fix initial_time in _TimeViewer
  mne/viz/_brain/_timeviewer.py
Labels: FIX, VIZ

#7383 Fix orientation slider when hemi=both
  mne/viz/_brain/_timeviewer.py
Labels: FIX, VIZ

#7386 Add clear_points in _TimeViewer
  mne/viz/_brain/_timeviewer.py
  mne/viz/_brain/tests/test_brain.py
Labels: VIZ

#7382 Fix window name in _TimeViewer
  mne/viz/_brain/_brain.py
  mne/viz/_brain/tests/test_brain.py
Labels: FIX, VIZ

#7390 MRG: Add reset_camera() primitive in _Renderer
  mne/viz/_brain/_brain.py
  mne/viz/backends/_pysurfer_mayavi.py
  mne/viz/backends/_pyvista.py
  mne/viz/backends/base_renderer.py
  mne/viz/backends/tests/test_renderer.py
Labels: FIX, VIZ

#7396 MRG: Set _Brain window title
  mne/viz/_brain/_brain.py
  mne/viz/backends/_pyvista.py
Labels: FIX, VIZ

#7401 FIX: Fix rank reduction for beamformers
  doc/changes/latest.inc
  mne/beamformer/_compute_beamformer.py
Labels: Beamformer, FIX

#7424 Fix EDF lowpass filter value of 0Hz
  mne/io/edf/edf.py
  mne/io/edf/tests/test_edf.py
Labels: BUG

#7423 MRG: Link _TimeViewer time slider with vertical time line
  mne/viz/_brain/_brain.py
  mne/viz/_brain/_timeviewer.py
Labels: VIZ

#7454 MRG: Use the renderer fixture in test_mixed_sources_plot_surface
  mne/viz/tests/test_3d.py
Labels: VIZ

#7257 MRG: Add toggle to save_movie in _TimeViewer
  README.rst
  doc/changes/latest.inc
  environment.yml
  mne/utils/docs.py
  mne/viz/_brain/_brain.py
  mne/viz/_brain/_timeviewer.py
  mne/viz/_brain/tests/test_brain.py
  mne/viz/backends/renderer.py
  requirements.txt
  tutorials/source-modeling/plot_visualize_stc.py
Labels: VIZ

#7462 Use _time_interp_funcs in _interpolate_data
  examples/connectivity/plot_mne_inverse_envelope_correlation.py
  examples/connectivity/plot_mne_inverse_psi_visual.py
  examples/forward/plot_forward_sensitivity_maps.py
  mne/viz/_brain/_brain.py
Labels: VIZ

#7458 WIP: Prepare _TimeViewer for next version of pyvista
  README.rst
  doc/conf.py
  environment.yml
  mne/viz/_brain/_timeviewer.py
  requirements.txt
Labels: VIZ

#7480 MRG: Improve memory footprint of _TimeViewer
  mne/viz/_brain/_timeviewer.py
Labels: VIZ

#7380 WIP: Set time_viewer and show_traces to auto
  .circleci/config.yml
  mne/conftest.py
  mne/source_estimate.py
  mne/viz/_3d.py
  mne/viz/_brain/_timeviewer.py
  mne/viz/_brain/tests/test_brain.py
  mne/viz/tests/test_3d.py
Labels: VIZ

#7506 Check pyvista version in _TimeViewer
  mne/viz/_brain/_timeviewer.py
  mne/viz/backends/_pyvista.py
Labels: VIZ

#7509 MRG: Change _TimeViewer slider style
  mne/viz/_brain/_timeviewer.py
Labels: VIZ

#7060 WIP: Use _Brain in plot_vector_source_estimates
  doc/_includes/inverse.rst
  examples/inverse/plot_vector_mne_solution.py
  mne/source_estimate.py
  mne/viz/_3d.py
  mne/viz/_brain/_brain.py
  mne/viz/_brain/_timeviewer.py
  mne/viz/_brain/tests/test_brain.py
  mne/viz/_brain/utils.py
  mne/viz/backends/_pysurfer_mayavi.py
  mne/viz/backends/_pyvista.py
  mne/viz/backends/base_renderer.py
  mne/viz/backends/renderer.py
  mne/viz/tests/test_3d.py
  tutorials/source-modeling/plot_dipole_orientations.py
  tutorials/source-modeling/plot_visualize_stc.py
Labels: VIZ

#7517 Update _TimeViewer's plotter only when necessary
  mne/viz/_brain/_timeviewer.py
Labels: ENH, VIZ

#7527 Taking a screenshot with _TimeViewer
  examples/inverse/plot_psf_ctf_vertices_lcmv.py
  examples/visualization/plot_publication_figure.py
  mne/viz/_brain/_brain.py
  tutorials/source-modeling/plot_mne_dspm_source_localization.py
Labels: VIZ

#7539 MRG: Add mV support to BrainVision reader
  doc/changes/latest.inc
  mne/io/brainvision/brainvision.py
  mne/io/brainvision/tests/data/test_units.vhdr
  mne/io/brainvision/tests/test_brainvision.py
Labels: backport-candidate
