Repository mne-tools/mne-python, pull requests merged in 2020-02, with the labels that each got.

#7276 MRG: Refactor OFF_SCREEN variable
  mne/viz/_brain/tests/test_brain.py
  mne/viz/backends/renderer.py
  mne/viz/tests/test_3d.py
Labels: VIZ

#7289 FIX,VIZ: Update read_curvature
  mne/surface.py
  mne/viz/_brain/surface.py
Labels: FIX, VIZ

#7292 Refactor reload_backend()
  mne/viz/_brain/_brain.py
  mne/viz/backends/renderer.py
  mne/viz/backends/tests/test_renderer.py
Labels: VIZ

#7305 WIP: Add help window to the _TimeViewer
  mne/viz/_brain/_timeviewer.py
  mne/viz/utils.py
Labels: VIZ

#7318 Use latest version 0.23.1 of pyvista instead of master
  environment.yml
  mne/viz/_brain/_timeviewer.py
  requirements.txt
Labels: VIZ

#7337 WIP: Disable depth peeling with rcparams
  mne/viz/backends/_pyvista.py
Labels: VIZ

#7351 MRG, BUG: _Renderer not found
  mne/viz/backends/renderer.py
  mne/viz/tests/test_3d.py
Labels: BUG, VIZ

#7247 MRG: Enable point picking in _TimeViewer
  mne/source_estimate.py
  mne/source_space.py
  mne/viz/_3d.py
  mne/viz/_brain/_brain.py
  mne/viz/_brain/_timeviewer.py
  mne/viz/_brain/tests/test_brain.py
  mne/viz/backends/_pyvista.py
  mne/viz/backends/renderer.py
Labels: VIZ

#7361 Remove Tools menu in _TimeViewer
  mne/viz/_brain/_timeviewer.py
Labels: VIZ
