Repository mne-tools/mne-python, pull requests merged in 2021-06, with the labels that each got.

#9442 [MRG] DOC: Add dates to versions in changelog, add entry for version 0.1
  doc/changes/0.1.inc
  doc/changes/0.10.inc
  doc/changes/0.11.inc
  doc/changes/0.12.inc
  doc/changes/0.13.inc
  doc/changes/0.14.inc
  doc/changes/0.15.inc
  doc/changes/0.16.inc
  doc/changes/0.17.inc
  doc/changes/0.18.inc
  doc/changes/0.19.inc
  doc/changes/0.2.inc
  doc/changes/0.20.inc
  doc/changes/0.21.inc
  doc/changes/0.22.inc
  doc/changes/0.23.inc
  doc/changes/0.3.inc
  doc/changes/0.4.inc
  doc/changes/0.5.inc
  doc/changes/0.6.inc
  doc/changes/0.7.inc
  doc/changes/0.8.inc
  doc/changes/0.9.inc
  doc/whats_new.rst
Labels: DOC

#9449 fix lingering hard-coded references
  mne/time_frequency/multitaper.py
  mne/time_frequency/psd.py
Labels: DOC

#9494 FIX: Follow the changes of PyVista 0.31.2
  mne/viz/backends/_pyvista.py
Labels: FIX

#9505 Fix plotting of events when there are overlapping epochs
  doc/changes/latest.inc
  mne/viz/epochs.py
  mne/viz/tests/test_epochs.py
Labels: VIZ
