Repository mne-tools/mne-python, pull requests merged in 2021-04, with the labels that each got.

#9236 FIX: Make find_ecg_events work even if ECG peak detection doesn't yield anything
  doc/changes/latest.inc
  mne/preprocessing/ecg.py
  mne/preprocessing/tests/test_ecg.py
Labels: backport-candidate

#9248 expose colorbar label parameter in plot_sensors_connectivity
  doc/changes/latest.inc
  mne/viz/_3d.py
  mne/viz/tests/test_3d.py
Labels: BUG, VIZ

#9253 make raw.plot() behave under MPL 3.4.x
  mne/viz/_figure.py
Labels: FIX, VIZ

#9254 Fix html table scrolling again
  .circleci/config.yml
  doc/_static/style.css
  doc/_templates/layout.html
  doc/references.bib
  tutorials/epochs/plot_40_autogenerate_metadata.py
Labels: BUG, DOC

#9190 ENH: button to save movie
  mne/viz/_brain/_brain.py
  mne/viz/_brain/tests/test_notebook.py
  mne/viz/backends/_abstract.py
  mne/viz/backends/_notebook.py
  mne/viz/backends/_pyvista.py
  mne/viz/backends/_qt.py
  mne/viz/utils.py
Labels: ENH

#9274 FIX: Prepare for PyVista 0.30.0
  environment.yml
  mne/viz/_brain/_brain.py
  mne/viz/backends/_notebook.py
  requirements.txt
  tools/azure_dependencies.sh
  tools/circleci_dependencies.sh
  tools/github_actions_dependencies.sh
Labels: FIX

#9288 More website fixes
  doc/_static/copybutton.js
  doc/_static/institution_logos/Telecom_Paris_Tech.png
  doc/_static/institution_logos/Telecom_Paris_Tech.svg
  doc/_static/mne_logo.svg
  doc/_static/style.css
  doc/_templates/copyright.html
  doc/_templates/docs-navbar.html
  doc/_templates/homepage.html
  doc/_templates/layout.html
  doc/_templates/version-switcher.html
  doc/conf.py
  doc/funding.rst
  doc/index.rst
  requirements_doc.txt
Labels: DOC

#9313 FIX: paintEvent/resizeEvent & update
  mne/viz/_3d.py
  mne/viz/backends/_pyvista.py
  mne/viz/backends/_qt.py
  tutorials/sample-datasets/plot_phantom_4DBTi.py
  tutorials/source-modeling/plot_source_alignment.py
Labels: FIX

#9318 MNT: BackgroundPlotter has no attribute named image
  examples/simulation/plot_simulate_evoked_data.py
  mne/viz/backends/_qt.py
  tutorials/sample-datasets/plot_phantom_4DBTi.py
  tutorials/source-modeling/plot_source_alignment.py
Labels: FIX

#9289 Add XDF to "Reading EEG data" tutorial
  doc/references.bib
  examples/io/plot_read_xdf.py
  mne/datasets/utils.py
  requirements_doc.txt
  tutorials/io/plot_20_reading_eeg_data.py
Labels: DOC

#9326 fix epochs vlines
  mne/viz/_figure.py
  mne/viz/epochs.py
  mne/viz/ica.py
  mne/viz/raw.py
Labels: FIX, VIZ

#9331 restore MPL toolbar for PSD plots
  mne/viz/_figure.py
Labels: VIZ

#9345 MRG: Some tutorial tweaks
  tutorials/evoked/30_eeg_erp.py
  tutorials/intro/15_inplace.py
  tutorials/io/60_ctf_bst_auditory.py
  tutorials/preprocessing/55_setting_eeg_reference.py
Labels: DOC

#9359 more tutorial tweaks
  tutorials/evoked/20_visualize_evoked.py
  tutorials/forward/10_background_freesurfer.py
  tutorials/intro/20_events_from_raw.py
  tutorials/raw/20_event_arrays.py
  tutorials/raw/40_visualize_raw.py
Labels: DOC

#9362 DOC: Update Mayavi troubleshooting section
  doc/install/advanced.rst
Labels: DOC
