Repository mne-tools/mne-python, pull requests merged in 2022-12, with the labels that each got.

#11347 Add mastodon link
  doc/_static/style.css
  doc/conf.py
Labels: backport-candidate

#11353 [DOC,BUG] Add note about FWHM to Morlet, fix norm
  doc/changes/latest.inc
  doc/conf.py
  doc/references.bib
  doc/time_frequency.rst
  mne/conftest.py
  mne/time_frequency/__init__.py
  mne/time_frequency/tests/test_tfr.py
  mne/time_frequency/tfr.py
  mne/utils/docs.py
Labels: DOC, BUG

#11379 [DOC] Adding make clean to contributing guide
  doc/install/contributing.rst
Labels: DOC

#11378 [DRAFT][DOC] Adapt LCMV tutorial
  doc/references.bib
  mne/beamformer/_compute_beamformer.py
  tutorials/inverse/50_beamformer_lcmv.py
Labels: DOC
