Repository mne-tools/mne-python, pull requests merged in 2023-09, with the labels that each got.

#11891 Add UI event support for Brain class
  doc/changes/devel.rst
  doc/conf.py
  doc/visualization.rst
  mne/utils/docs.py
  mne/viz/_brain/_brain.py
  mne/viz/_brain/_linkviewer.py
  mne/viz/_brain/callback.py
  mne/viz/_brain/tests/test_brain.py
  mne/viz/backends/_abstract.py
  mne/viz/tests/test_ui_events.py
  mne/viz/topomap.py
  mne/viz/ui_events.py
  tutorials/visualization/20_ui_events.py
Labels: VIZ, GUI

#11948 MAINT: Work around seaborn<->pandas warning
  doc/changes/v1.2.rst
  doc/conf.py
Labels: backport-candidate

#11944 MRG: Suggest to use conda-libmamba-solver instead of mamba in install docs
  doc/install/manual_install.rst
Labels: DOC, backport-candidate

#11956 MAINT: Update to use trame backend
  doc/changes/devel.rst
  doc/overview/roadmap.rst
  environment.yml
  mne/conftest.py
  mne/utils/config.py
  mne/utils/docs.py
  mne/viz/_brain/_brain.py
  mne/viz/_brain/tests/test_notebook.py
  mne/viz/backends/_notebook.py
  mne/viz/backends/_pyvista.py
  requirements.txt
Labels: backport-candidate

#11999 BUG: Fix bug with clip box setting
  doc/changes/devel.rst
  doc/conf.py
  examples/io/elekta_epochs.py
  mne/utils/docs.py
  mne/viz/evoked.py
  mne/viz/misc.py
  mne/viz/topo.py
  mne/viz/topomap.py
  tutorials/preprocessing/70_fnirs_processing.py
  tutorials/time-freq/20_sensors_time_frequency.py
Labels: backport-candidate

#11942 Interactive version of plot_evoked_fieldmap
  doc/changes/devel.rst
  doc/visualization.rst
  examples/datasets/spm_faces_dataset_sgskip.py
  examples/visualization/mne_helmet.py
  mne/evoked.py
  mne/viz/_3d.py
  mne/viz/__init__.py
  mne/viz/_brain/_brain.py
  mne/viz/_brain/tests/test_brain.py
  mne/viz/backends/_notebook.py
  mne/viz/backends/_qt.py
  mne/viz/backends/renderer.py
  mne/viz/evoked_field.py
  mne/viz/tests/test_3d.py
  mne/viz/tests/test_ui_events.py
  mne/viz/ui_events.py
  mne/viz/utils.py
  tutorials/visualization/20_ui_events.py
Labels: VIZ
